@import "tailwindcss";
@plugin './hero.js';

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
.active{
  border: 2px solid ;  
  padding: 5px;
  border-radius: 50px;
  color: green;
}
